---
import type { CollectionEntry } from 'astro:content';

interface Props {
    allPosts: CollectionEntry<'posts'>[];
    currentPath: string;
}

const { allPosts, currentPath } = Astro.props;
---
<h3>Posts</h3>
<ul>
    {allPosts.map(post => {
        const postUrl = import.meta.env.BASE_URL + `posts/${post.slug}/`;
        const isActive = postUrl === currentPath;
        return (
            <li>
                <a href={postUrl} class:list={{ "is-active": isActive }}>
                    {post.data.title}
                </a>
            </li>
        );
    })}
</ul>
