---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <h2>{frontmatter.title}</h2>
  <div class="content">
    <slot />
  </div>
</Layout>

<style>
	h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
    .content {
        line-height: 1.6;
    }
    .content :global(img) {
        max-width: 100%;
        height: auto;
    }
</style>
